<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DVDRental</title>
</head>
<body>
<h1>DVDRental superstore</h1>
<div>
    <img src="/images/dvdrental_logo.png" width="60px">
</div>
<div>
    <p>DVDRental’s mission statement is “To be the global leader in rentable home entertainment by providing outstanding
        service, selection, convenience and value.”
        DVDRental strongly values diversity due to the fact that it is a global corporation and its workforce and
        customers are each very diverse, whom appreciate the importance of these facts.
        Diversification is a necessary objective of the company, as it is with any major company in America if it wants
        to be as successful as possible.
        According to DVDRental’s official website,
        "Diversity" is “an inclusive, strategic business platform focused on creating a differentiating and sustainable
        competitive advantage.”
    </p>
</div>
<div>
    <form method="get">
        <label for="description_input">Description: </label>
        <input size="40" id="description_input" type="text" name="description"
               placeholder="type some text to search for in description...">
        <button type="submit">Search...</button>
    </form>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Year</th>
            <th>Category</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>33</td>
            <td>Startrek</td>
            <td>old scifi</td>
            <td>1975</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>35</td>
            <td>Wells</td>
            <td>old western</td>
            <td>1978</td>
            <td></td>
            <td></td>
        </tr>

        </tbody>
    </table>
</div>
<div>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=19.046384990215305%2C47.47762667598349%2C19.048895537853245%2C47.47883583049229&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/47.47823/19.04764">View Larger Map</a></small>
</div>
</body>
</html>